[versions]
agp = "8.4.1"
agpAlpha = "8.5.0-beta02"
anvil = "2.5.0-beta09"
bugsnagGradle = "8.1.0"
circuit = "0.20.0"
compose-jb = "1.6.10"
compose-jb-compiler = "1.5.10.2"
compose-jb-kotlinVersion = "1.9.23"
coroutines = "1.8.1"
dependencyAnalysisPlugin = "1.31.0"
detekt = "1.23.6"
dokka = "1.9.20"
errorproneGradle = "3.0.1"
jdk = "21"
jewel = "0.15.2.2"
jna = "5.14.0"
kaml = "0.59.0"
kotlin = "1.9.24"
kotlinPoet = "1.16.0"
ksp = "1.9.24-1.0.20"
ktfmt = "0.49"
markdown = "0.16.0"
mavenPublish = "0.28.0"
moshi = "1.15.1"
moshix = "0.26.0"
nullawayGradle = "1.3.0"
okhttp = "5.0.0-alpha.12"
okio = "3.9.0"
retrofit = "2.11.0"
slack-lint = "0.7.3"
sortDependencies = "0.6"
spotless = "6.25.0"
sqldelight = "2.0.2"
versionsPlugin = "0.47.0"
wire = "4.9.9"

[plugins]
bestPracticesPlugin = { id = "com.autonomousapps.plugin-best-practices-plugin", version = "0.10" }
buildConfig = { id = "com.github.gmazzo.buildconfig", version = "5.3.5" }
compose = { id = "org.jetbrains.compose", version.ref = "compose-jb"}
dependencyAnalysis = { id = "com.autonomousapps.dependency-analysis", version.ref = "dependencyAnalysisPlugin" }
detekt = { id = "io.gitlab.arturbosch.detekt", version.ref = "detekt" }
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
intellij = { id = "org.jetbrains.intellij", version = "1.17.0" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
kotlin-multiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin" }
kotlin-sam = { id = "org.jetbrains.kotlin.plugin.sam.with.receiver", version.ref = "kotlin" }
kotlin-serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
lint = { id = "com.android.lint", version.ref = "agp" }
mavenPublish = { id = "com.vanniktech.maven.publish", version.ref = "mavenPublish" }
moshiGradlePlugin = { id = "dev.zacsweers.moshix", version.ref = "moshix" }
moshix = { id = "dev.zacsweers.moshix", version.ref = "moshix" }
pluginUploader = { id = "dev.bmac.intellij.plugin-uploader", version = "1.3.2" }
spotless = { id = "com.diffplug.spotless", version.ref = "spotless" }
sortDependencies = { id = "com.squareup.sort-dependencies", version.ref = "sortDependencies" }
versionsPlugin = { id = "com.github.ben-manes.versions", version.ref = "versionsPlugin" }
wire = { id = "com.squareup.wire", version.ref = "wire" }

[libraries]
agp = { module = "com.android.tools.build:gradle", version.ref = "agp" }
agpAlpha = { module = "com.android.tools.build:gradle", version.ref = "agpAlpha" }
autoService-annotations = "com.google.auto.service:auto-service-annotations:1.1.1"
autoService-ksp = "dev.zacsweers.autoservice:auto-service-ksp:1.1.0"
bugsnag = "com.bugsnag:bugsnag:3.7.1"
clikt = "com.github.ajalt.clikt:clikt:4.4.0"
circuit-foundation = { module = "com.slack.circuit:circuit-foundation", version.ref = "circuit"}
commonsText = "org.apache.commons:commons-text:1.12.0"
composeLints = "com.slack.lint.compose:compose-lint-checks:1.3.1"
compose-compilerJb = { module = "org.jetbrains.compose.compiler:compiler", version.ref = "compose-jb-compiler" }
compose-markdown = { module = "com.mikepenz:multiplatform-markdown-renderer", version.ref = "markdown" }
coroutines-bom = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-bom", version.ref = "coroutines" }
coroutines-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core" }
coroutines-test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test" }
detekt = { module = "io.gitlab.arturbosch.detekt:detekt-core", version.ref = "detekt" }
develocity-agent-adapters = "com.gradle:develocity-gradle-plugin-adapters:1.0.2"
gradleLints = "androidx.lint:lint-gradle:1.0.0-alpha01"
gradlePlugins-anvil = { module = "com.squareup.anvil:gradle-plugin", version.ref = "anvil" }
gradlePlugins-bugsnag = { module = "com.bugsnag:bugsnag-android-gradle-plugin", version.ref = "bugsnagGradle" }
gradlePlugins-compose = { module = "org.jetbrains.compose:compose-gradle-plugin", version.ref = "compose-jb" }
gradlePlugins-dependencyAnalysis = { module = "com.autonomousapps:dependency-analysis-gradle-plugin", version.ref = "dependencyAnalysisPlugin" }
gradlePlugins-detekt = { module = "io.gitlab.arturbosch.detekt:detekt-gradle-plugin", version.ref = "detekt" }
gradlePlugins-develocity = "com.gradle:develocity-gradle-plugin:3.17.2"
gradlePlugins-doctor = "com.osacky.doctor:doctor-plugin:0.10.0"
gradlePlugins-errorProne = { module = "net.ltgt.gradle:gradle-errorprone-plugin", version.ref = "errorproneGradle" }
gradlePlugins-graphAssert = "com.jraska.module.graph.assertion:plugin:2.3.1"
gradlePlugins-kgp = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
gradlePlugins-kgp-api = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
gradlePlugins-ksp = { module = "com.google.devtools.ksp:symbol-processing-gradle-plugin", version.ref = "ksp" }
gradlePlugins-moshix = { module = "dev.zacsweers.moshix:moshi-gradle-plugin", version.ref = "moshix" }
gradlePlugins-napt = "com.sergei-lapin.napt:gradle:1.16"
gradlePlugins-nullaway = { module = "net.ltgt.gradle:gradle-nullaway-plugin", version.ref = "nullawayGradle" }
gradlePlugins-redacted = "dev.zacsweers.redacted:redacted-compiler-plugin-gradle:1.8.1"
gradlePlugins-retry = "org.gradle:test-retry-gradle-plugin:1.5.8"
gradlePlugins-sortDependencies = { module = "com.squareup:sort-dependencies-gradle-plugin", version.ref = "sortDependencies" }
gradlePlugins-spotless = { module = "com.diffplug.spotless:spotless-plugin-gradle", version.ref = "spotless" }
gradlePlugins-sqldelight = { module = "app.cash.sqldelight:gradle-plugin", version.ref = "sqldelight" }
gradlePlugins-versions = { module = "com.github.ben-manes:gradle-versions-plugin", version.ref = "versionsPlugin" }
gradlePlugins-wire = { module = "com.squareup.wire:wire-gradle-plugin", version.ref = "wire" }
guava = "com.google.guava:guava:33.2.0-jre"
kaml = {module = "com.charleskorn.kaml:kaml", version.ref = "kaml"}
kotlinCliUtil = "com.slack.cli:kotlin-cli-util:2.6.3"
kotlin-bom = { module = "org.jetbrains.kotlin:kotlin-bom", version.ref = "kotlin" }
kotlin-poet = { module = "com.squareup:kotlinpoet", version.ref = "kotlinPoet"}
kotlin-reflect = { module = "org.jetbrains.kotlin:kotlin-reflect", version.ref = "kotlin" }
ktfmt = { module = "com.facebook:ktfmt", version.ref = "ktfmt" }
jewel-bridge232 = { module = "org.jetbrains.jewel:jewel-ide-laf-bridge-232", version.ref = "jewel" }
jewel-standalone = { module = "org.jetbrains.jewel:jewel-int-ui-standalone", version = "0.15.2" }
jgrapht = "org.jgrapht:jgrapht-core:1.5.2"
jna = { module = "net.java.dev.jna:jna", version.ref = "jna" }
jna-platform = { module = "net.java.dev.jna:jna-platform", version.ref = "jna" }
junit = "junit:junit:4.13.2"
markdown = "org.jetbrains:markdown:0.7.2"
moshi = { module = "com.squareup.moshi:moshi", version.ref = "moshi" }
okhttp = { module = "com.squareup.okhttp3:okhttp", version.ref = "okhttp" }
okhttp-bom = { module = "com.squareup.okhttp3:okhttp-bom", version.ref = "okhttp" }
okhttp-loggingInterceptor = { module = "com.squareup.okhttp3:logging-interceptor", version.ref = "okhttp" }
okio = { module = "com.squareup.okio:okio", version.ref = "okio" }
okio-fakefilesystem = { module = "com.squareup.okio:okio-fakefilesystem", version.ref = "okio" }
oshi = "com.github.oshi:oshi-core:6.6.0"
retrofit = { module = "com.squareup.retrofit2:retrofit", version.ref = "retrofit" }
retrofit-converters-wire = { module = "com.squareup.retrofit2:converter-wire", version.ref = "retrofit" }
rxjava = "io.reactivex.rxjava3:rxjava:3.1.8"
slackLints-checks = { module = "com.slack.lint:slack-lint-checks", version.ref = "slack-lint" }
slackLints-annotations = { module = "com.slack.lint:slack-lint-annotations", version.ref = "slack-lint" }
truth = "com.google.truth:truth:1.4.2"