[versions]
agp = "7.1.2"
anvil = "2.4.0"
bugsnagGradle = "7.2.1"
dependencyAnalysisPlugin = "1.3.0"
detekt = "1.20.0"
dokka = "1.6.21"
errorproneGradle = "2.0.2"
java = "17"
kotlin = "1.7.0"
ksp = "1.7.0-RC2-1.0.5"
ktfmt = "0.35"
mavenPublish = "0.19.0"
moshi = "1.13.0"
moshix = "0.17.2-1.7.0-RC2"
nullawayGradle = "1.3.0"
okhttp = "5.0.0-alpha.8"
spotless = "6.6.1"
sqldelight = "1.5.1"
versionsPlugin = "0.42.0"

[plugins]
dependencyAnalysis = { id = "com.autonomousapps.dependency-analysis", version.ref = "dependencyAnalysisPlugin" }
detekt = { id = "io.gitlab.arturbosch.detekt", version.ref = "detekt" }
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
lint = { id = "com.android.lint", version.ref = "agp" }
mavenPublish = { id = "com.vanniktech.maven.publish", version.ref = "mavenPublish" }
moshiGradlePlugin = { id = "dev.zacsweers.moshix", version.ref = "moshix" }
spotless = { id = "com.diffplug.spotless", version.ref = "spotless" }
versionsPlugin = { id = "com.github.ben-manes.versions", version.ref = "versionsPlugin" }

[libraries]
agp = { module = "com.android.tools.build:gradle", version.ref = "agp" }
autoService-annotations = "com.google.auto.service:auto-service-annotations:1.0.1"
autoService-ksp = "dev.zacsweers.autoservice:auto-service-ksp:1.0.0"
commonsText = "org.apache.commons:commons-text:1.9"
detekt = { module = "io.gitlab.arturbosch.detekt:detekt-core", version.ref = "detekt" }
gradlePlugins-anvil = { module = "com.squareup.anvil:gradle-plugin", version.ref = "anvil" }
gradlePlugins-bugsnag = { module = "com.bugsnag:bugsnag-android-gradle-plugin", version.ref = "bugsnagGradle" }
gradlePlugins-dependencyAnalysis = { module = "com.autonomousapps:dependency-analysis-gradle-plugin", version.ref = "dependencyAnalysisPlugin" }
gradlePlugins-detekt = { module = "io.gitlab.arturbosch.detekt:detekt-gradle-plugin", version.ref = "detekt" }
gradlePlugins-doctor = "com.osacky.doctor:doctor-plugin:0.8.0"
gradlePlugins-enterprise = "com.gradle:gradle-enterprise-gradle-plugin:3.8.1"
gradlePlugins-errorProne = { module = "net.ltgt.gradle:gradle-errorprone-plugin", version.ref = "errorproneGradle" }
gradlePlugins-ksp = { module = "com.google.devtools.ksp:symbol-processing-gradle-plugin", version.ref = "ksp" }
gradlePlugins-moshix = { module = "dev.zacsweers.moshix:moshi-gradle-plugin", version.ref = "moshix" }
gradlePlugins-nullaway = { module = "net.ltgt.gradle:gradle-nullaway-plugin", version.ref = "nullawayGradle" }
gradlePlugins-redacted = "dev.zacsweers.redacted:redacted-compiler-plugin-gradle:1.0.1"
gradlePlugins-retry = "org.gradle:test-retry-gradle-plugin:1.4.0"
gradlePlugins-spotless = { module = "com.diffplug.spotless:spotless-plugin-gradle", version.ref = "spotless" }
gradlePlugins-versions = { module = "com.github.ben-manes:gradle-versions-plugin", version.ref = "versionsPlugin" }
guava = "com.google.guava:guava:31.1-jre"
kotlinCliUtil = "com.slack.cli:kotlin-cli-util:1.1.1"
jgrapht = "org.jgrapht:jgrapht-core:1.5.1"
jna = "net.java.dev.jna:jna:5.11.0"
junit = "junit:junit:4.13.2"
markdown = "org.jetbrains:markdown:0.1.46"
moshi = { module = "com.squareup.moshi:moshi", version.ref = "moshi" }
moshi-kotlin = { module = "com.squareup.moshi:moshi-kotlin", version.ref = "moshi" }
okhttp = { module = "com.squareup.okhttp3:okhttp", version.ref = "okhttp" }
okhttp-bom = { module = "com.squareup.okhttp3:okhttp-bom", version.ref = "okhttp" }
okhttp-loggingInterceptor = { module = "com.squareup.okhttp3:logging-interceptor", version.ref = "okhttp" }
okio = "com.squareup.okio:okio:3.1.0"
oshi = "com.github.oshi:oshi-core:6.1.6"
progressBar = "me.tongfei:progressbar:0.9.3"
rxjava = "io.reactivex.rxjava3:rxjava:3.1.4"
truth = "com.google.truth:truth:1.1.3"