[versions]
agp = "8.0.1"
anvil = "2.4.5"
bugsnagGradle = "8.0.1"
compose-jb = "1.4.0"
dependencyAnalysisPlugin = "1.20.0"
detekt = "1.22.0"
dokka = "1.8.10"
errorproneGradle = "3.0.1"
jdk = "19"
jna = "5.13.0"
kotlin = "1.8.21"
ksp = "1.8.21-1.0.11"
ktfmt = "0.44"
mavenPublish = "0.25.2"
moshi = "1.15.0"
moshix = "0.22.1"
nullawayGradle = "1.3.0"
okhttp = "5.0.0-alpha.10"
okio = "3.3.0"
sortDependencies = "0.2"
spotless = "6.18.0"
sqldelight = "2.0.0-alpha05"
versionsPlugin = "0.46.0"
wire = "4.6.2"

[plugins]
bestPracticesPlugin = { id = "com.autonomousapps.plugin-best-practices-plugin", version = "0.9" }
dependencyAnalysis = { id = "com.autonomousapps.dependency-analysis", version.ref = "dependencyAnalysisPlugin" }
detekt = { id = "io.gitlab.arturbosch.detekt", version.ref = "detekt" }
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
# Here to trigger Renovate updates
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
lint = { id = "com.android.lint", version.ref = "agp" }
mavenPublish = { id = "com.vanniktech.maven.publish", version.ref = "mavenPublish" }
moshiGradlePlugin = { id = "dev.zacsweers.moshix", version.ref = "moshix" }
moshix = { id = "dev.zacsweers.moshix", version.ref = "moshix" }
spotless = { id = "com.diffplug.spotless", version.ref = "spotless" }
sortDependencies = { id = "com.squareup.sort-dependencies", version.ref = "sortDependencies" }
versionsPlugin = { id = "com.github.ben-manes.versions", version.ref = "versionsPlugin" }

[libraries]
agp = { module = "com.android.tools.build:gradle", version.ref = "agp" }
autoService-annotations = "com.google.auto.service:auto-service-annotations:1.0.1"
autoService-ksp = "dev.zacsweers.autoservice:auto-service-ksp:1.0.0"
commonsText = "org.apache.commons:commons-text:1.10.0"
detekt = { module = "io.gitlab.arturbosch.detekt:detekt-core", version.ref = "detekt" }
gradlePlugins-anvil = { module = "com.squareup.anvil:gradle-plugin", version.ref = "anvil" }
gradlePlugins-bugsnag = { module = "com.bugsnag:bugsnag-android-gradle-plugin", version.ref = "bugsnagGradle" }
gradlePlugins-compose = { module = "org.jetbrains.compose:compose-gradle-plugin", version.ref = "compose-jb" }
gradlePlugins-dependencyAnalysis = { module = "com.autonomousapps:dependency-analysis-gradle-plugin", version.ref = "dependencyAnalysisPlugin" }
gradlePlugins-detekt = { module = "io.gitlab.arturbosch.detekt:detekt-gradle-plugin", version.ref = "detekt" }
gradlePlugins-doctor = "com.osacky.doctor:doctor-plugin:0.8.1"
gradlePlugins-enterprise = "com.gradle:gradle-enterprise-gradle-plugin:3.12.2"
gradlePlugins-errorProne = { module = "net.ltgt.gradle:gradle-errorprone-plugin", version.ref = "errorproneGradle" }
gradlePlugins-graphAssert = "com.jraska.module.graph.assertion:plugin:2.3.1"
gradlePlugins-ksp = { module = "com.google.devtools.ksp:symbol-processing-gradle-plugin", version.ref = "ksp" }
gradlePlugins-moshix = { module = "dev.zacsweers.moshix:moshi-gradle-plugin", version.ref = "moshix" }
gradlePlugins-napt = "com.sergei-lapin.napt:gradle:1.16"
gradlePlugins-nullaway = { module = "net.ltgt.gradle:gradle-nullaway-plugin", version.ref = "nullawayGradle" }
gradlePlugins-redacted = "dev.zacsweers.redacted:redacted-compiler-plugin-gradle:1.4.0"
gradlePlugins-retry = "org.gradle:test-retry-gradle-plugin:1.4.0"
gradlePlugins-sortDependencies = { module = "com.squareup:sort-dependencies-gradle-plugin", version.ref = "sortDependencies" }
gradlePlugins-spotless = { module = "com.diffplug.spotless:spotless-plugin-gradle", version.ref = "spotless" }
gradlePlugins-sqldelight = { module = "app.cash.sqldelight:gradle-plugin", version.ref = "sqldelight" }
gradlePlugins-versions = { module = "com.github.ben-manes:gradle-versions-plugin", version.ref = "versionsPlugin" }
gradlePlugins-wire = { module = "com.squareup.wire:wire-gradle-plugin", version.ref = "wire" }
guava = "com.google.guava:guava:31.1-jre"
kotlinCliUtil = "com.slack.cli:kotlin-cli-util:1.1.1"
ktfmt = { module = "com.facebook:ktfmt", version.ref = "ktfmt" }
jgrapht = "org.jgrapht:jgrapht-core:1.5.2"
jna = { module = "net.java.dev.jna:jna", version.ref = "jna" }
jna-platform = { module = "net.java.dev.jna:jna-platform", version.ref = "jna" }
junit = "junit:junit:4.13.2"
markdown = "org.jetbrains:markdown:0.4.1"
moshi = { module = "com.squareup.moshi:moshi", version.ref = "moshi" }
okhttp = { module = "com.squareup.okhttp3:okhttp", version.ref = "okhttp" }
okhttp-bom = { module = "com.squareup.okhttp3:okhttp-bom", version.ref = "okhttp" }
okhttp-loggingInterceptor = { module = "com.squareup.okhttp3:logging-interceptor", version.ref = "okhttp" }
okio = { module = "com.squareup.okio:okio", version.ref = "okio" }
okio-fakefilesystem = { module = "com.squareup.okio:okio-fakefilesystem", version.ref = "okio" }
oshi = "com.github.oshi:oshi-core:6.4.2"
rxjava = "io.reactivex.rxjava3:rxjava:3.1.6"
truth = "com.google.truth:truth:1.1.3"