name: CI

on:
  # Only run push on main
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
  # Always run on PRs
  pull_request:
    branches: [ main ]
  merge_group:

concurrency:
  group: 'ci-${{ github.event.merge_group.head_ref || github.head_ref }}-${{ github.workflow }}'
  cancel-in-progress: true

jobs:
  build:
    name: JDK ${{ matrix.ci_java_version }} / AGP ${{ matrix.ci_agp_version }} / Kotlin ${{ matrix.ci_kotlin_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ci_java_version: ['19']
        ci_kotlin_version: ['1.8.0']
        # TODO add back 8.1.0 after the CommonExtension generic problem is fixed
        ci_agp_version: ['8.0.0']
    env:
      DEP_OVERRIDES: 'true'
      DEP_OVERRIDE_KOTLIN: '${{ matrix.ci_kotlin_version }}'
      DEP_OVERRIDE_AGP: '${{ matrix.ci_agp_version }}'
      DEP_OVERRIDE_JAVA: '${{ matrix.ci_java_version }}'
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

      - name: Generate cache key
        run: ./.github/checksum.sh checksum.txt

      - uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ matrix.job }}-${{ hashFiles('checksum.txt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-${{ matrix.job }}-

      - name: Install JDK ${{ matrix.ci_java_version }}
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.ci_java_version }}

      - name: Build and run tests
        id: gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: check --no-configuration-cache

      - name: Print build scan url
        if: always()
        run: echo ${{ steps.gradle.outputs.build-scan-url }}

      - name: (Fail-only) Bundle the build report
        if: failure()
        run: find . -type d -name 'reports' | zip -@ -r build-reports.zip

      - name: (Fail-only) Upload the build report
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: error-report
          path: build-reports.zip

      - name: Publish snapshot (main branch only)
        if: github.repository == 'slackhq/slack-gradle-plugin' && github.ref == 'refs/heads/main' && matrix.ci_agp_version == '7.2.0' && matrix.ci_kotlin_version == '1.7.0' && matrix.ci_java_version == '17'
        run: ./gradlew publish -PmavenCentralUsername=${{ secrets.SONATYPEUSERNAME }} -PmavenCentralPassword=${{ secrets.SONATYPEPASSWORD }}

  publish-snapshot:
    name: 'Publish snapshot (main only)'
    runs-on: ubuntu-latest
    needs: 'build'
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ matrix.job }}-${{ hashFiles('checksum.txt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-${{ matrix.job }}-

      - name: Install JDK ${{ matrix.ci_java_version }}
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '19'

      - name: Publish snapshot
        if: github.repository == 'slackhq/slack-gradle-plugin' && github.ref == 'refs/heads/main'
        run: ./gradlew publish -PmavenCentralUsername=${{ secrets.SONATYPEUSERNAME }} -PmavenCentralPassword=${{ secrets.SONATYPEPASSWORD }}
