name: Publish docs

on:
  # Run on new version tags...
  push:
    tags:
      - v*
  # or manually from workflow dispatch (from GitHub UI)
  workflow_dispatch:

jobs:
  deploy_docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Export JDK version
        shell: bash
        run: |
          JDK_VERSION=$(grep "jdk =" gradle/libs.versions.toml | head -n 1 | cut -d'=' -f2 | tr -d '"' | xargs)
          echo "JDK_VERSION=${JDK_VERSION}" >> $GITHUB_ENV

      - name: Install JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '${{ env.JDK_VERSION }}'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build Dokka API docs
        run: dokkaHtml --no-configuration-cache

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install python dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r .github/workflows/mkdocs-requirements.txt

      - name: Build site
        run: ./deploy_website.sh --ci

      - name: Deploy site
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
